/*
#ff8800 - Orange
#49C6E5 - Sky Blue
#97DB4F - Lime Green
#1B2845 - Navy Blue
#F7F0F5 - Plat
*/

/* Global Styles
---------------------------------*/
html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}
/*box model fix ^^^ */
  
body {
  color: black;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.5;
}
  
.content-wrap {
  margin: 0 auto;
  width: 80%;
  padding: 60px 0;
}
h1, h2, h3, h4 {
  font-family: 'Roboto Mono', monospace;
}
a, p {
  font-family: 'Montserrat', sans-serif;
}

/* Navigation Bar
---------------------------------*/
.navbar {
  background-color: black;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10000;
  font-size: 150%;
}
.navbar .homepage {
  float: left;
  color: #F7F0F5;
  margin-left: 10%;
  text-align: center;
  padding: 2%;
  text-decoration: none;
}
.navbar .pages {
  float: right;
  color: #F7F0F5;
  text-align: center;
  padding: 2%;
  text-decoration: none;
}
.navbar .pageend {
  float: right;
  color: #F7F0F5;
  margin-right: 10%;
  text-align: center;
  padding: 2%;
  text-decoration: none;
  background-color: #58aa00;
}
.navbar a:hover {
  background-color: #ff8800;
  color: #F7F0F5;
}
.topnav a.active {
  background-color: #ff8800;
  color: #F7F0F5;
}
@media (min-width: 415px) and (max-width: 810px){
  .navbar {
    font-size: 75%;
  }
}
@media (max-width: 415px){
  .navbar {
    font-size: 57%;
  }
}
/* Home-Page
---------------------------------*/
.box {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  margin-top: 1%;
}
.box .title {
  position: absolute;
  z-index: 999;
  margin: 0 30% 0 10%;
  left: 0;
  right: 0;
  top: 20%;
  bottom: 1%;
  text-align: left;
  color: #EBEBEB;
  font-size: 400%;
}
.box .text {
  position: absolute;
  z-index: 999;
  margin: 0 30% 0 10%;
  left: 0;
  right: 0;
  top: 50%;
  text-align: left;
  color: #EBEBEB;
}
@media (min-width: 700px) and (max-width: 945px){
  .box .title {
    font-size: 300%;
  }
}
@media (min-width: 375px) and (max-width: 700px){
  .box .title {
    font-size: 200%;
  }
  .box .text{
    font-size: 150%;
  }
}
@media (max-width: 375px){
  .box .title {
    font-size: 157%;
  }
  .box .text{
    font-size: 137%;
  }
}
/* About Section
---------------------------------*/
.aboutbox {
  background-color: white;
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 10%;
}
.aboutbox h2 {
  position: relative;
  margin-left: 10%;
  font-size: 300%;
  text-decoration-line: underline;
  text-decoration-color:  #97DB4F;
}
.aboutbox p {
  position: relative;
  margin: 0 10% 1% 10%;
  font-size: 150%;
}
@media (min-width: 375px) and (max-width: 700px){
  .aboutbox h2 {
    font-size: 200%;
  }
  .aboutbox p{
    font-size: 125%;
  }
}
@media (max-width: 375px){
  .aboutbox h2 {
    font-size: 157%;
  }
  .aboutbox p{
    font-size: 100%;
  }
}
/* Highlights Section
---------------------------------*/
.highlightbox {
  background-color: #ff8800;
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 3%;
  margin-bottom: -1%;
}
.highlightbox h2 {
  position: relative;
  margin-left: 10%;
  font-size: 300%;
  text-decoration-line: underline;
  text-decoration-color:  #97DB4F;
}
.highlightbox table {
  width: 80%;
  margin-left: 10%;
  text-align: center;
  padding: 2%;
}
.highlightbox td, .highlightbox tr {
  padding: 2%;
}
.highlightbox img {
  border-radius: 40%;
  width: 100%;
  height: auto;
}
.highlightbox a {
  float: center;
  color: #F7F0F5;
  text-align: center;
  padding: 3%;
  text-decoration: none;
  background-color: black;
  border-radius: 10%;
  font-size: 150%;
}
.highlightbox a:hover {
  background-color: #F7F0F5;
  color: black;
}
@media (min-width: 375px) and (max-width: 700px){
  .highlightbox h2 {
    font-size: 200%;
  }
  .highlightbox a{
    font-size: 100%;
  }
}
@media (max-width: 375px){
  .highlightbox h2 {
    font-size: 157%;
  }
  .highlightbox a{
    font-size: 75%;
  }
}
/* Footer Section
---------------------------------*/
footer {
  background: #343434;
  color: #f7fff7;
  margin-top: -1%;
  padding-top: 3%;
  padding-bottom: 3%;
}
footer h2 {
  position: relative;
  margin-left: 10%;
  font-size: 300%;
  text-decoration-line: underline;
  text-decoration-color:  #97DB4F;
}
footer table {
  width: 80%;
  margin-left: 10%;
  text-align: center;
  padding: 2%;
}
footer a {
  float: center;
  color: #F7F0F5;
  text-align: center;
  padding: 3% 20%;
  text-decoration: none;
  background-color: black;
  border-radius: 10%;
  font-size: 150%;
}
footer a:hover {
  background-color: #ff8800;
  color: #F7F0F5;
}
@media (min-width: 375px) and (max-width: 700px){
  footer h2 {
    font-size: 200%;
  }
  footer a{
    font-size: 100%;
  }
}
@media (max-width: 375px){
  footer h2 {
    font-size: 157%;
  }
  footer a{
    font-size: 75%;
  }
}