/*
#ff8800 - Orange
#49C6E5 - Sky Blue
#97DB4F - Lime Green
#1B2845 - Navy Blue
#F7F0F5 - Plat


#7530FF - Purple
#FFBE00 - Yellow
#369FFF - Blue
*/

/* Global Styles
---------------------------------*/
html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}
/*box model fix ^^^ */
  
body {
  color: black;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.5;
}
  
.content-wrap {
  margin: 0 auto;
  width: 80%;
  padding: 60px 0;
}
h1, h2, h3, h4 {
  font-family: 'Roboto Mono', monospace;
}
a, p {
  font-family: 'Montserrat', sans-serif;
}

/* Navigation Bar
---------------------------------*/
.navbar {
  background-color: #7530ff;
  filter:grayscale(40%);
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10000;
  font-size: 150%;
}
.navbar .homepage {
  float: left;
  color: #F7F0F5;
  margin-left: 10%;
  text-align: center;
  padding: 2%;
  text-decoration: none;
}
.navbar .pages {
  float: right;
  color: #F7F0F5;
  text-align: center;
  padding: 2%;
  text-decoration: none;
}
.navbar .pageend {
  float: right;
  color: #F7F0F5;
  margin-right: 10%;
  text-align: center;
  padding: 2%;
  text-decoration: none;
  background-color: #FFBE00;
}
.navbar a:hover {
  background-color: #369FFF;
  color: #F7F0F5;
}
.topnav a.active {
  background-color: #369FFF;
  color: #F7F0F5;
}
@media (min-width: 415px) and (max-width: 810px){
  .navbar {
    font-size: 75%;
  }
}
@media (max-width: 415px){
  .navbar {
    font-size: 57%;
  }
}

/* Solid Gradient Background
---------------------------------*/
.wrapper {
  width: 100%;
  height: 400px;
  background: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  margin-top: -5%;
}

.base {
  position: absolute;
  filter: blur(60px);
  opacity: 0.8;
}

.one {
  border-radius: 100%;
  width: 100%;
  height: 600px;
  background-color: #7530ff;
  left: -50px;
  top: -300px;
  z-index: 3;
}

.two {
  width: 100%;
  height: 800px;
  background-color: #369FFF;
  bottom: -30px;
  left: -80px;
}

.three {
  border-radius: 100%;
  width: 100%;
  height: 450px;
  bottom: -80px;
  right: -100px;
  background-color: #FFBE00;
}

@media (min-width: 700px) and (max-width: 945px){
  .wrapper {
    height: 300px;
  }
}
@media (min-width: 375px) and (max-width: 700px){
  .wrapper {
    height: 200px;
  }
}
@media (max-width: 375px){
  .wrapper {
    height: 150px;
  }
}

/* Home-Page
---------------------------------*/
.box {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  margin-top: 5%;
}
.box .title {
  position: absolute;
  z-index: 999;
  margin: 0 30% 0 10%;
  left: 0;
  right: 0;
  top: 20%;
  bottom: 1%;
  text-align: left;
  color: #EBEBEB;
  font-size: 400%;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
.box .titlePages {
  position: absolute;
  z-index: 999;
  margin: 0 40% 0 10%;
  left: 0;
  right: 0;
  top: 20%;
  bottom: 1%;
  text-align: left;
  color: #EBEBEB;
  font-size: 400%;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
.box .text {
  position: absolute;
  z-index: 999;
  margin: 0 30% 0 10%;
  left: 0;
  right: 0;
  top: 50%;
  text-align: left;
  color: #EBEBEB;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
@media (min-width: 700px) and (max-width: 945px){
  .box .title {
    font-size: 300%;
  }
  .box .titlePages {
    font-size: 300%;
  }
}
@media (min-width: 375px) and (max-width: 700px){
  .box .title {
    font-size: 200%;
  }
  .box .titlePages {
    font-size: 200%;
  }
  .box .text{
    font-size: 150%;
  }
}
@media (max-width: 375px){
  .box .title {
    font-size: 157%;
  }
  .box .titlePages {
    font-size: 157%;
  }
  .box .text{
    font-size: 137%;
  }
}
/* About Section
---------------------------------*/
.aboutbox {
  background-color: white;
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 5%;
}
.aboutbox h2 {
  position: relative;
  margin-left: 10%;
  font-size: 300%;
  text-decoration-line: underline;
  text-decoration-color:  #369FFF;
}
.aboutbox p {
  position: relative;
  margin: 0 10% 1% 10%;
  font-size: 150%;
}
.aboutbox .screens{
  text-align: center;
}
.aboutbox img {
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 5%;
  width: 40%;
  height: auto;
}
.aboutbox a {
  float: center;
  color: white;
  text-align: center;
  padding: 1% 1%;
  margin-top: 3%;
  text-decoration: none;
  background-color: #FFBE00;
  border-radius: 30px;
}
.aboutbox a:hover {
  background-color: #369FFF;
  color: white;
}
@media (min-width: 375px) and (max-width: 700px){
  .aboutbox h2 {
    font-size: 200%;
  }
  .aboutbox p{
    font-size: 125%;
  }
}
@media (max-width: 375px){
  .aboutbox h2 {
    font-size: 157%;
  }
  .aboutbox p{
    font-size: 100%;
  }
}
/* Highlights Section
---------------------------------*/
.highlightbox {
  background-color: white;
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 3%;
  margin-bottom: -1%;
  color: white;
}
.highlightbox h2 {
  background-color: #7530FF;
  position: relative;
  margin-left: 5%;
  padding-left: 5%;
  font-size: 300%;
  text-decoration-line: underline;
  text-decoration-color:  #369FFF;
  border-radius: 30px;
  margin-right: 42%;
}

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  
}

@media only screen and (min-width: 500px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }  
  .item-1 {
  grid-column: 1/ span 2;
  }
  .item-1 h1 {
    font-size: 30px;
  }
  .item-2 {
    grid-column: 3/ span 2;
    }
  .item-2 h1 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 850px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card {
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  border-radius: 30px;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card article {
  padding: 20px;
  display: flex;
  
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  
}
.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
  border-radius: 30px 30px 0px 0px;
}

.card p { 
  flex: 1;
  line-height: 1.4;
}

h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}

@media (min-width: 375px) and (max-width: 700px){
  .highlightbox h2 {
    font-size: 200%;
  }
}
@media (max-width: 375px){
  .highlightbox h2 {
    font-size: 157%;
  }
}
/* Flex/Grid Style obtained from - https://webdesign.tutsplus.com/articles/flexbox-vs-css-grid-which-should-you-use--cms-30184 */

/* Description Section (ONE)
---------------------------------*/
.descriptionbox {
  background-color: #7530FF;
  position: relative;
  display: inline-block;
  width: 90%;
  padding-bottom: 3%;
  margin-bottom: 5%;
  color: white;
  margin-left: 5%;
  padding-left: 5%;
  border-radius: 30px;
}
.descriptionbox h2 {
  position: relative;
  font-size: 300%;
  text-decoration-line: underline;
  text-decoration-color:  #369FFF;
}
.descriptionbox .text {
  text-align: center;
  font-size: 200%;
  margin-right: 5%;
}
.descriptionbox video{
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  border-radius: 10px;
}
.descriptionbox img{
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
}

.descriptionbox .band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  
}

@media only screen and (min-width: 500px) {
  .descriptionbox .band {
    grid-template-columns: 1fr 1fr;
  }  
  .descriptionbox .item-1 {
    grid-column: 1/ span 1;
    }
    .descriptionbox .item-2 {
      grid-column: 2/ span 1;
    }
    .descriptionbox .item-1long {
      grid-column: 1/ span 2;
    }
    .descriptionbox .item-2long {
      grid-column: 3/ span 2;
    }
}

@media only screen and (min-width: 850px) {
  .descriptionbox .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.descriptionbox .card {
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  border-radius: 30px;
}

.descriptionbox .card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.descriptionbox .card article {
  padding: 20px;
  display: flex;
  
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  
}
.descriptionbox .card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
  border-radius: 30px 30px 0px 0px;
}

.descriptionbox .card p { 
  flex: 1;
  line-height: 1.4;
}

.descriptionbox h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.descriptionbox .card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}

@media (min-width: 375px) and (max-width: 700px){
  .descriptionbox h2 {
    font-size: 200%;
  }
  .descriptionbox .text {
    font-size: 150%;
  }
}
@media (max-width: 375px){
  .descriptionbox h2 {
    font-size: 157%;
  }
  .descriptionbox .text {
    font-size: 100%;
  }
}

/* Description Section (TWO)
---------------------------------*/
.descriptionboxTwo {
  background-color: #FFBE00;
  position: relative;
  display: inline-block;
  width: 90%;
  padding-bottom: 3%;
  margin-bottom: 5%;
  color: white;
  margin-left: 5%;
  padding-left: 5%;
  border-radius: 30px;
}
.descriptionboxTwo h2 {
  position: relative;
  font-size: 300%;
  text-decoration-line: underline;
  text-decoration-color:  #369FFF;
}
.descriptionboxTwo .text {
  text-align: center;
  font-size: 200%;
  margin-right: 5%;
}
.descriptionboxTwo video{
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  border-radius: 10px;
}
.descriptionboxTwo img{
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
}

.descriptionboxTwo .band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  
}

@media only screen and (min-width: 500px) {
  .descriptionboxTwo .band {
    grid-template-columns: 1fr 1fr;
  }  
  .descriptionboxTwo .item-1 {
    grid-column: 1/ span 1;
    }
    .descriptionboxTwo .item-2 {
      grid-column: 2/ span 1;
    }
    .descriptionboxTwo .item-1long {
      grid-column: 1/ span 2;
    }
    .descriptionboxTwo .item-2long {
      grid-column: 3/ span 2;
    }
}

@media only screen and (min-width: 850px) {
  .descriptionboxTwo .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.descriptionboxTwo .card {
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  border-radius: 30px;
}

.descriptionboxTwo .card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.descriptionboxTwo .card article {
  padding: 20px;
  display: flex;
  
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  
}
.descriptionboxTwo .card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
  border-radius: 30px 30px 0px 0px;
}

.descriptionboxTwo .card p { 
  flex: 1;
  line-height: 1.4;
}

.descriptionboxTwo h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.descriptionboxTwo .card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}

@media (min-width: 375px) and (max-width: 700px){
  .descriptionboxTwo h2 {
    font-size: 200%;
  }
  .descriptionboxTwo .text {
    font-size: 150%;
  }
}
@media (max-width: 375px){
  .descriptionboxTwo h2 {
    font-size: 157%;
  }
  .descriptionboxTwo .text {
    font-size: 100%;
  }
}

/* Description Section (THREE)
---------------------------------*/
.descriptionboxThree {
  background-color: #369FFF;
  position: relative;
  display: inline-block;
  width: 90%;
  padding-bottom: 3%;
  margin-bottom: 5%;
  color: white;
  margin-left: 5%;
  padding-left: 5%;
  border-radius: 30px;
}
.descriptionboxThree h2 {
  position: relative;
  font-size: 300%;
  text-decoration-line: underline;
  text-decoration-color:  #FFBE00;
}
.descriptionboxThree .text {
  text-align: center;
  font-size: 200%;
  margin-right: 5%;
}
.descriptionboxThree video{
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  border-radius: 10px;
}
.descriptionboxThree img{
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
}
.descriptionboxThree table, .descriptionboxThree th, .descriptionboxThree td{
  border: 3px solid white;
}
.descriptionboxThree table{
  margin-left: 10%;
  padding-left: 5%;
  width: 80%;
  border-collapse: collapse;
  font-size: 150%;
  text-align: left;
}
.descriptionboxThree mark{
  background-color: #FFBE00;
  color: white;
}


.descriptionboxThree .band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  
}

@media only screen and (min-width: 500px) {
  .descriptionboxThree .band {
    grid-template-columns: 1fr 1fr;
  }  
  .descriptionboxThree .item-1 {
  grid-column: 1/ span 1;
  }
  .descriptionboxThree .item-2 {
    grid-column: 2/ span 1;
  }
  .descriptionboxThree .item-1long {
    grid-column: 1/ span 2;
  }
  .descriptionboxThree .item-2long {
    grid-column: 3/ span 2;
  }
}

@media only screen and (min-width: 850px) {
  .descriptionboxThree .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.descriptionboxThree .card {
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  border-radius: 30px;
}

.descriptionboxThree .card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.descriptionboxThree .card article {
  padding: 20px;
  display: flex;
  
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  
}
.descriptionboxThree .card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
  border-radius: 30px 30px 0px 0px;
}

.descriptionboxThree .card p { 
  flex: 1;
  line-height: 1.4;
}

.descriptionboxThree h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.descriptionboxThree .card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}

@media (min-width: 375px) and (max-width: 700px){
  .descriptionboxThree h2 {
    font-size: 200%;
  }
  .descriptionboxThree .text {
    font-size: 150%;
  }
  .descriptionboxThree table {
    font-size: 125%;
  }
}
@media (max-width: 375px){
  .descriptionboxThree h2 {
    font-size: 157%;
  }
  .descriptionboxThree .text {
    font-size: 100%;
  }
  .descriptionboxThree table {
    font-size: 100%;
  }
}

/* Screenshot Section
---------------------------------*/
.screenshotbox {
  background-color: #7530FF;
  position: relative;
  display: inline-block;
  width: 90%;
  filter:grayscale(40%);
  border-radius: 30px;
  margin-left: 5%;
}
.screenshotbox h2 {
  position: relative;
  margin-left: 10%;
  font-size: 300%;
  text-decoration-line: underline;
  text-decoration-color:  #369FFF;
  color: white;
}
.screenshotbox p {
  position: relative;
  margin: 0 10% 1% 10%;
  font-size: 150%;
  color: white;
}
.screenshotbox .screens{
  text-align: center;
}
.screenshotbox img {
  border-radius: 30px;
  width: 40%;
  height: auto;
}

@media (min-width: 375px) and (max-width: 700px){
  .screenshotbox h2 {
    font-size: 200%;
  }
  .screenshotbox p{
    font-size: 125%;
  }
}
@media (max-width: 375px){
  .screenshotbox h2 {
    font-size: 157%;
  }
  .screenshotbox p{
    font-size: 100%;
  }
}

/* ScreenshotTwo Section
---------------------------------*/
.screenshotboxTwo {
  background-color: white;
  position: relative;
  display: inline-block;
  width: 100%;

}
.screenshotboxTwo h2 {
  position: relative;
  margin-left: 10%;
  font-size: 300%;
  text-decoration-line: underline;
  text-decoration-color:  #369FFF;
}
.screenshotboxTwo p {
  position: relative;
  margin: 0 10% 1% 10%;
  font-size: 150%;
}
.screenshotboxTwo .screens{
  text-align: center;
}
.screenshotboxTwo img {
  border-radius: 30px;
  width: 40%;
  height: auto;
}
@media (min-width: 375px) and (max-width: 700px){
  .screenshotboxTwo h2 {
    font-size: 200%;
  }
  .screenshotboxTwo p{
    font-size: 125%;
  }
}
@media (max-width: 375px){
  .screenshotboxTwo h2 {
    font-size: 157%;
  }
  .screenshotboxTwo p{
    font-size: 100%;
  }
}

/* Carousel
---------------------------------*/
.screens {
  display: flex;
  overflow: auto;
  flex: none;
  width: 60vw;
  height: 60vh;
  flex-flow: column nowrap;
  margin-left: 15%;
  margin-bottom: 10%;
}

.y-scroll-snap{
  scroll-snap-type: y mandatory;
}

.screens>div{
  text-align: center;
  scroll-snap-align: center;
  flex: none;
  line-height: 3;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.screens>div:nth-child(even){
  background-color: #FFBE00;
}

.screens>div:nth-child(odd){
  background-color: #369FFF;
}

@media (min-width: 768px) and (max-width: 1024px){
  .screens {
    height: 50vh;
  }
}
@media (min-width: 500px) and (max-width: 768px){
  .screens {
    height: 40vh;
  }
}
@media (max-width: 500px){
  .screens {
    height: 30vh;
  }
}

/* Footer Section
---------------------------------*/
footer {
  background: #FFBE00;
  color: #f7fff7;
  margin-top: 3%;
  padding-top: 3%;
  margin-bottom: 3%;
  padding-bottom: 3%;
  border-radius: 30px;
  width: 90%;
  filter:grayscale(20%);
  margin-left: 5%;
}
footer h2 {
  position: relative;
  margin-left: 10%;
  font-size: 300%;
  text-decoration-line: underline;
  text-decoration-color:  #369FFF;
}
footer p{
  position: relative;
  margin: 0 10% 1% 10%;
  font-size: 150%;
}
footer table {
  width: 80%;
  margin-left: 10%;
  text-align: center;
  padding: 2%;
}
footer a {
  float: center;
  color: #F7F0F5;
  text-align: center;
  padding: 3% 20%;
  text-decoration: none;
  background-color: #7530FF;
  border-radius: 30px;
  font-size: 150%;
}
footer a:hover {
  background-color: #F7F0F5;
  color: black;
}
@media (min-width: 375px) and (max-width: 700px){
  footer h2 {
    font-size: 200%;
  }
  footer a{
    font-size: 100%;
  }
}
@media (max-width: 375px){
  footer h2 {
    font-size: 157%;
  }
  footer a{
    font-size: 75%;
  }
}